# Nettoyage des données 

## Set up

### Mise en place de l'environnement

In [96]:
# Import des modules utilisés
import pandas as pd

# Import du système

import sys
sys.path.insert(0, "/home/apprenant/PycharmProjects/american-dream")

### Import des données depuis csv/excel

On supprime les 3 premières lignes du fichier excel de base qui ne contiennent pas de données.

In [97]:
df_raw_k = pd.read_csv("../data/01_raw/DataAnalyst.csv")
df_raw_b = pd.read_excel("../data/01_raw/2020_Data_Professional_Salary_Survey_Responses.xlsx", skiprows=3)

## 1. Traitement des doublons

Je décide de commencer par effectuer le traitement des doublons. En effet, comme on ne va prendre que certaines colonnes, on peut ne plus être en mesure d'identifier par la suite si les doublons font référence à un même individu ou à plusieurs individus différents. 
Regardons s'il y a des doublons dans nos tables. On ne prend pas en compte la colonne index pour la table issue du csv et en ne prenant pas en compte l'année de l'étude et le Timestamp pour la table issue du excel. En effet, si on les prend en compte on pourait ne pas voir les doublons pour un même individu pour lesquelles les données auraient été entrées 2 fois.

In [98]:
print(df_raw_k.duplicated(subset=['Job Title', 'Salary Estimate', 'Location', 'Job Description', 'Rating', 'Company Name', 'Headquarters',
 'Size', 'Founded', 'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors', 'Easy Apply']).value_counts())

False    2253
dtype: int64

Il n'y a pas de doublon dans cette table. Passons à la suivante:

In [99]:
print(df_raw_b.drop(columns=['Survey Year', 'Timestamp']).duplicated().value_counts())

False    8599
True       28
dtype: int64

On voit qu'il y a 28 doublons. On va donc regarder ces données dupliquées.

In [100]:
print(df_raw_b[(df_raw_b.drop(columns=['Survey Year', 'Timestamp'])).duplicated(keep=False)])

      Survey Year               Timestamp  SalaryUSD        Country  \
52           2020 2019-12-31 01:57:49.016   148000.0  United States
53           2020 2019-12-31 01:57:38.029   148000.0  United States
62           2020 2019-12-31 00:08:37.428   100000.0         Canada
64           2020 2019-12-31 00:01:43.739   100000.0         Canada
144          2020 2019-12-30 16:05:11.749    71500.0  United States
146          2020 2019-12-30 16:04:47.264    71500.0  United States
170          2020 2019-12-30 14:25:48.781    81000.0  United States
171          2020 2019-12-30 14:23:23.118    81000.0  United States
184          2020 2019-12-30 14:01:14.430    60000.0  United States
185          2020 2019-12-30 14:00:29.106    60000.0  United States
196          2020 2019-12-30 13:30:54.672       57.6        Belgium
197          2020 2019-12-30 13:29:38.171       57.6        Belgium
203          2020 2019-12-30 13:15:24.611    78000.0  United States
205          2020 2019-12-30 13:13:32.645    78000.0  United States
208          2020 2019-12-30 13:09:49.601   140000.0  United States
210          2020 2019-12-30 13:09:10.712   140000.0  United States
241          2020 2019-12-30 12:22:24.437    68000.0  United States
243          2020 2019-12-30 12:18:55.346    68000.0  United States
262          2020 2019-12-30 11:48:34.497    90000.0  United States
263          2020 2019-12-30 11:48:19.102    90000.0  United States
305          2020 2019-12-30 10:30:56.370   115000.0  United States
307          2020 2019-12-30 10:26:44.914   115000.0  United States
316          2020 2019-12-30 10:03:35.372    92500.0  United States
317          2020 2019-12-30 10:03:33.328    92500.0  United States
319          2020 2019-12-30 10:01:36.519    92500.0  United States
461          2020 2019-12-16 12:36:42.019    97000.0  United States
585          2020 2019-12-14 21:11:57.340   320000.0  United States
595          2020 2019-12-14 16:29:58.395   320000.0  United States
683          2020 2019-12-13 07:23:19.752    97000.0  United States
1667         2020 2019-12-11 09:42:22.573   135000.0  United States
1718         2020 2019-12-11 08:37:45.412   135000.0  United States
2138         2019 2018-12-21 14:25:45.105    44000.0  United States
2141         2019 2018-12-21 14:23:19.083    44000.0  United States
2238         2019 2018-12-13 06:25:30.497     2900.0        Ukraine
2239         2019 2018-12-13 06:24:45.913     2900.0        Ukraine
2900         2018 2017-12-29 16:41:48.816    80000.0  United States
2931         2018 2017-12-28 20:12:53.431    80000.0  United States
2998         2018 2017-12-27 12:28:48.658   120000.0  United States
3000         2018 2017-12-27 12:05:29.194   120000.0  United States
3001         2018 2017-12-27 12:04:50.196   120000.0  United States
3002         2018 2017-12-27 12:03:31.667   120000.0  United States
3003         2018 2017-12-27 12:03:10.841   120000.0  United States
3657         2018 2017-12-20 11:53:11.866    62700.0  United States
3660         2018 2017-12-20 11:52:56.070    62700.0  United States
4365         2018 2017-12-19 07:38:11.878    50000.0         Brazil
4368         2018 2017-12-19 07:36:10.234    50000.0         Brazil
4933         2018 2017-12-13 17:16:27.280    71000.0  United States
5329         2018 2017-12-12 12:15:21.139    71000.0  United States
5547         2018 2017-12-12 11:21:38.420    71000.0  United States
5682         2018 2017-12-11 10:56:34.666    69000.0         Sweden
5683         2018 2017-12-11 10:56:34.255    69000.0         Sweden

     PostalCode       PrimaryDatabase  YearsWithThisDatabase  \
52        60642             Cassandra                      5
53        60642             Cassandra                      5
62          NaN  Microsoft SQL Server                      7
64          NaN  Microsoft SQL Server                      7
144       48192  Microsoft SQL Server                      2
146       48192  Microsoft SQL Server                      2
170       80027  Microsoft SQL Server                      3
171       80027  Microsoft SQL Server                      3
184       32256  Microsoft SQL Server                      1
185       32256  Microsoft SQL Server                      1
196         NaN  Microsoft SQL Server                      4
197         NaN  Microsoft SQL Server                      4
203       98007  Microsoft SQL Server                      4
205       98007  Microsoft SQL Server                      4
208       92677  Microsoft SQL Server                     17
210       92677  Microsoft SQL Server                     17
241       36104                Oracle                      5
243       36104                Oracle                      5
262         NaN                Oracle                     15
263         NaN                Oracle                     15
305         NaN  Microsoft SQL Server                      6
307         NaN  Microsoft SQL Server                      6
316       37027  Microsoft SQL Server                      2
317       37027  Microsoft SQL Server                      2
319       37027  Microsoft SQL Server                      2
461       48XXX  Microsoft SQL Server                     10
585         NaN  Microsoft SQL Server                     20
595         NaN  Microsoft SQL Server                     20
683       48XXX  Microsoft SQL Server                     10
1667      84081  Microsoft SQL Server                     13
1718      84081  Microsoft SQL Server                     13
2138      97504  Microsoft SQL Server                      1
2141      97504  Microsoft SQL Server                      1
2238        NaN  Microsoft SQL Server                      8
2239        NaN  Microsoft SQL Server                      8
2900        NaN  Microsoft SQL Server                      4
2931        NaN  Microsoft SQL Server                      4
2998      92056  Microsoft SQL Server                     20
3000      92056  Microsoft SQL Server                     20
3001      92056  Microsoft SQL Server                     20
3002      92056  Microsoft SQL Server                     20
3003      92056  Microsoft SQL Server                     20
3657      14580  Microsoft SQL Server                      3
3660      14580  Microsoft SQL Server                      3
4365        NaN                SQLite                      1
4368        NaN                SQLite                      1
4933      80538  Microsoft SQL Server                     18
5329      80538  Microsoft SQL Server                     18
5547      80538  Microsoft SQL Server                     18
5682        NaN  Microsoft SQL Server                     10
5683        NaN  Microsoft SQL Server                     10

                                         OtherDatabases  \
52               PostgreSQL, Cassandra, Google BigQuery
53               PostgreSQL, Cassandra, Google BigQuery
62                                                  NaN
64                                                  NaN
144                                    Microsoft Access
146                                    Microsoft Access
170      Microsoft SQL Server, Microsoft Access, SQLite
171      Microsoft SQL Server, Microsoft Access, SQLite
184                                    Oracle, Teradata
185                                    Oracle, Teradata
196                                              Oracle
197                                              Oracle
203                                Microsoft SQL Server
205                                Microsoft SQL Server
208                           MySQL/MariaDB, PostgreSQL
210                           MySQL/MariaDB, PostgreSQL
241                                              Oracle
243                                              Oracle
262              Microsoft SQL Server, Microsoft Access
263              Microsoft SQL Server, Microsoft Access
305                                                 NaN
307                                                 NaN
316                                    Microsoft Access
317                                    Microsoft Access
319                                    Microsoft Access
461                           Azure SQL DB (any flavor)
585   Microsoft SQL Server, Oracle, MySQL/MariaDB, P...
595   Microsoft SQL Server, Oracle, MySQL/MariaDB, P...
683                           Azure SQL DB (any flavor)
1667                Microsoft SQL Server, MySQL/MariaDB
1718                Microsoft SQL Server, MySQL/MariaDB
2138                                                NaN
2141                                                NaN
2238  Microsoft SQL Server, MySQL/MariaDB, MongoDB, ...
2239  Microsoft SQL Server, MySQL/MariaDB, MongoDB, ...
2900                               Microsoft SQL Server
2931                               Microsoft SQL Server
2998             MySQL/MariaDB, Amazon RDS (any flavor)
3000             MySQL/MariaDB, Amazon RDS (any flavor)
3001             MySQL/MariaDB, Amazon RDS (any flavor)
3002             MySQL/MariaDB, Amazon RDS (any flavor)
3003             MySQL/MariaDB, Amazon RDS (any flavor)
3657  Microsoft SQL Server, MySQL/MariaDB, Microsoft...
3660  Microsoft SQL Server, MySQL/MariaDB, Microsoft...
4365  Microsoft SQL Server, Oracle, MySQL/MariaDB, A...
4368  Microsoft SQL Server, Oracle, MySQL/MariaDB, A...
4933       Oracle, MySQL/MariaDB, DB2, Microsoft Access
5329       Oracle, MySQL/MariaDB, DB2, Microsoft Access
5547       Oracle, MySQL/MariaDB, DB2, Microsoft Access
5682                                                NaN
5683                                                NaN

                                       EmploymentStatus  \
52                                   Full time employee
53                                   Full time employee
62                                   Full time employee
64                                   Full time employee
144                                  Full time employee
146                                  Full time employee
170                                  Full time employee
171                                  Full time employee
184                                  Full time employee
185                                  Full time employee
196                                  Full time employee
197                                  Full time employee
203                                  Full time employee
205                                  Full time employee
208                                  Full time employee
210                                  Full time employee
241                                  Full time employee
243                                  Full time employee
262                                  Full time employee
263                                  Full time employee
305                                  Full time employee
307                                  Full time employee
316                                  Full time employee
317                                  Full time employee
319                                  Full time employee
461                                  Full time employee
585                                  Full time employee
595                                  Full time employee
683                                  Full time employee
1667                                 Full time employee
1718                                 Full time employee
2138                                 Full time employee
2141                                 Full time employee
2238                                 Full time employee
2239                                 Full time employee
2900  Independent consultant, contractor, freelancer...
2931  Independent consultant, contractor, freelancer...
2998                                 Full time employee
3000                                 Full time employee
3001                                 Full time employee
3002                                 Full time employee
3003                                 Full time employee
3657                                 Full time employee
3660                                 Full time employee
4365  Independent consultant, contractor, freelancer...
4368  Independent consultant, contractor, freelancer...
4933                                 Full time employee
5329                                 Full time employee
5547                                 Full time employee
5682                                 Full time employee
5683                                 Full time employee

                                               JobTitle ManageStaff  \
52                                       Data Scientist          No
53                                       Data Scientist          No
62                                              Analyst          No
64                                              Analyst          No
144                                             Manager          No
146                                             Manager          No
170                                             Analyst          No
171                                             Analyst          No
184   DBA (General - splits time evenly between writ...          No
185   DBA (General - splits time evenly between writ...          No
196   DBA (Production Focus - build & troubleshoot s...         Yes
197   DBA (Production Focus - build & troubleshoot s...         Yes
203   Developer: Business Intelligence (SSRS, PowerB...          No
205   Developer: Business Intelligence (SSRS, PowerB...          No
208                                            Engineer          No
210                                            Engineer          No
241                                             Analyst          No
243                                             Analyst          No
262                                             Manager         Yes
263                                             Manager         Yes
305                                    Developer: T-SQL          No
307                                    Developer: T-SQL          No
316                                             Analyst          No
317                                             Analyst          No
319                                             Analyst          No
461   DBA (Production Focus - build & troubleshoot s...          No
585                                           Architect          No
595                                           Architect          No
683   DBA (Production Focus - build & troubleshoot s...          No
1667                                            Manager         Yes
1718                                            Manager         Yes
2138                                            Analyst          No
2141                                            Analyst          No
2238  DBA (Production Focus - build & troubleshoot s...          No
2239  DBA (Production Focus - build & troubleshoot s...          No
2900  Developer: Business Intelligence (SSRS, PowerB...          No
2931  Developer: Business Intelligence (SSRS, PowerB...          No
2998                                           Engineer          No
3000                                           Engineer          No
3001                                           Engineer          No
3002                                           Engineer          No
3003                                           Engineer          No
3657  DBA (General - splits time evenly between writ...          No
3660  DBA (General - splits time evenly between writ...          No
4365                  Developer: App code (C#, JS, etc)          No
4368                  Developer: App code (C#, JS, etc)          No
4933  DBA (Production Focus - build & troubleshoot s...          No
5329  DBA (Production Focus - build & troubleshoot s...          No
5547  DBA (Production Focus - build & troubleshoot s...          No
5682  DBA (Production Focus - build & troubleshoot s...          No
5683  DBA (Production Focus - build & troubleshoot s...          No

      YearsWithThisTypeOfJob  \
52                         7
53                         7
62                         7
64                         7
144                        5
146                        5
170                        3
171                        3
184                        1
185                        1
196                        3
197                        3
203                        4
205                        4
208                       14
210                       14
241                        6
243                        6
262                       10
263                       10
305                        6
307                        6
316                        2
317                        2
319                        2
461                       10
585                        4
595                        4
683                       10
1667                       1
1718                       1
2138                       1
2141                       1
2238                       8
2239                       8
2900                       2
2931                       2
2998                       1
3000                       1
3001                       1
3002                       1
3003                       1
3657                       3
3660                       3
4365                       1
4368                       1
4933                      17
5329                      17
5547                      17
5682                      10
5683                      10

                                       HowManyCompanies OtherPeopleOnYourTeam  \
52    2 (I worked at another similar position elsewh...                     1
53    2 (I worked at another similar position elsewh...                     1
62    2 (I worked at another similar position elsewh...                     1
64    2 (I worked at another similar position elsewh...                     1
144   2 (I worked at another similar position elsewh...                     1
146   2 (I worked at another similar position elsewh...                     1
170   2 (I worked at another similar position elsewh...                     1
171   2 (I worked at another similar position elsewh...                     1
184   1 (this is the only company where I've had thi...                     3
185   1 (this is the only company where I've had thi...                     3
196   1 (this is the only company where I've had thi...                     1
197   1 (this is the only company where I've had thi...                     1
203   1 (this is the only company where I've had thi...                  None
205   1 (this is the only company where I've had thi...                  None
208                                                   3                     1
210                                                   3                     1
241   2 (I worked at another similar position elsewh...                  None
243   2 (I worked at another similar position elsewh...                  None
262   1 (this is the only company where I've had thi...           More than 5
263   1 (this is the only company where I've had thi...           More than 5
305                                                   3                  None
307                                                   3                  None
316   1 (this is the only company where I've had thi...                     4
317   1 (this is the only company where I've had thi...                     4
319   1 (this is the only company where I've had thi...                     4
461   2 (I worked at another similar position elsewh...                     2
585                                           6 or more           More than 5
595                                           6 or more           More than 5
683   2 (I worked at another similar position elsewh...                     2

On constate que ce sont bien des doublons d'un même individu. On va donc ne garder que la première occurence de ces données (la première ou la dernière ne change rien sauf quelques minutes de différence sur le Timestamp qui n'auront pas d'incidence par la suite).

In [101]:
df_raw_b.drop_duplicates(subset=df_raw_b.columns.difference(['Survey Year', 'Timestamp']), keep='first', inplace=True)

## 2. Sélection des colonnes

On visualise les colonnes pour regarder ce qu'il y a dedans et on affiche la liste pour décider quelles colonnes seront pertinentes à utiliser pour chacune des tables.

In [102]:
print(df_raw_k.head())
print(df_raw_k.columns)

   Unnamed: 0                                          Job Title  \
0           0  Data Analyst, Center on Immigration and Justic...
1           1                               Quality Data Analyst
2           2  Senior Data Analyst, Insights & Analytics Team...
3           3                                       Data Analyst
4           4                             Reporting Data Analyst

              Salary Estimate  \
0  $37K-$66K (Glassdoor est.)
1  $37K-$66K (Glassdoor est.)
2  $37K-$66K (Glassdoor est.)
3  $37K-$66K (Glassdoor est.)
4  $37K-$66K (Glassdoor est.)

                                     Job Description  Rating  \
0  Are you eager to roll up your sleeves and harn...     3.2
1  Overview\n\nProvides analytical and technical ...     3.8
2  We’re looking for a Senior Data Analyst who ha...     3.4
3  Requisition NumberRR-0001939\nRemote:Yes\nWe c...     4.1
4  ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...     3.9

                              Company Name      Location  Headquarters  \
0           Vera Institute of Justice\n3.2  New York, NY  New York, NY
1  Visiting Nurse Service of New York\n3.8  New York, NY  New York, NY
2                         Squarespace\n3.4  New York, NY  New York, NY
3                            Celerity\n4.1  New York, NY    McLean, VA
4                             FanDuel\n3.9  New York, NY  New York, NY

                     Size  Founded               Type of ownership  \
0    201 to 500 employees     1961          Nonprofit Organization
1        10000+ employees     1893          Nonprofit Organization
2  1001 to 5000 employees     2003               Company - Private
3    201 to 500 employees     2002  Subsidiary or Business Segment
4   501 to 1000 employees     2009               Company - Private

                           Industry                            Sector  \
0                 Social Assistance                        Non-Profit
1  Health Care Services & Hospitals                       Health Care
2                          Internet            Information Technology
3                       IT Services            Information Technology
4               Sports & Recreation  Arts, Entertainment & Recreation

                      Revenue Competitors Easy Apply
0  $100 to $500 million (USD)          -1       True
1      $2 to $5 billion (USD)          -1         -1
2    Unknown / Non-Applicable     GoDaddy         -1
3   $50 to $100 million (USD)          -1         -1
4  $100 to $500 million (USD)  DraftKings       True
Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply'],
      dtype='object')

Je choisis de garder les colonnes qui me paraissent utiles pour l'étude demandée.

In [103]:
print(df_raw_b[(df_raw_b.drop(columns=['Survey Year', 'Timestamp'])).duplicated(keep=False)])

Empty DataFrame
Columns: [Survey Year, Timestamp, SalaryUSD, Country, PostalCode, PrimaryDatabase, YearsWithThisDatabase, OtherDatabases, EmploymentStatus, JobTitle, ManageStaff, YearsWithThisTypeOfJob, HowManyCompanies, OtherPeopleOnYourTeam, CompanyEmployeesOverall, DatabaseServers, Education, EducationIsComputerRelated, Certifications, HoursWorkedPerWeek, TelecommuteDaysPerWeek, NewestVersionInProduction, OldestVersionInProduction, PopulationOfLargestCityWithin20Miles, EmploymentSector, LookingForAnotherJob, CareerPlansThisYear, Gender, OtherJobDuties, KindsOfTasksPerformed, Counter]
Index: []

In [104]:
dfk = df_raw_k[['Job Title', 'Salary Estimate', 'Location']]

Passons à la table suivante :

In [105]:
print(df_raw_b.head())
print(df_raw_b.columns)

   Survey Year               Timestamp  SalaryUSD        Country PostalCode  \
0         2020 2020-01-04 18:50:34.328   115000.0  United States         03
1         2020 2020-01-04 10:43:01.821   100000.0  United States        NaN
2         2020 2020-01-04 09:51:45.885   100000.0          Spain      28046
3         2020 2020-01-04 01:08:53.605    70000.0  United States      94133
4         2020 2020-01-03 15:28:54.163   110000.0  United States      95354

        PrimaryDatabase  YearsWithThisDatabase  \
0  Microsoft SQL Server                     15
1                 Other                      6
2  Microsoft SQL Server                      2
3  Microsoft SQL Server                      3
4                Oracle                     30

                                      OtherDatabases    EmploymentStatus  \
0  Microsoft SQL Server, MongoDB, Azure SQL DB (a...  Full time employee
1                                      MySQL/MariaDB  Full time employee
2                                      MySQL/MariaDB  Full time employee
3                                   Microsoft Access  Full time employee
4  Microsoft SQL Server, Oracle, MySQL/MariaDB, P...  Full time employee

                                            JobTitle ManageStaff  \
0  DBA (Production Focus - build & troubleshoot s...          No
1                  Developer: App code (C#, JS, etc)          No
2                                              Other         Yes
3                                            Analyst          No
4  DBA (General - splits time evenly between writ...          No

   YearsWithThisTypeOfJob                                   HowManyCompanies  \
0                       5  1 (this is the only company where I've had thi...
1                       6  1 (this is the only company where I've had thi...
2                       3  1 (this is the only company where I've had thi...
3                       3  1 (this is the only company where I've had thi...
4                      25                                                  3

  OtherPeopleOnYourTeam CompanyEmployeesOverall  DatabaseServers  Education  \
0                     2               Not Asked              500  Not Asked
1           More than 5               Not Asked                1  Not Asked
2                     1               Not Asked                1  Not Asked
3                     2               Not Asked                3  Not Asked
4                  None               Not Asked               45  Not Asked

  EducationIsComputerRelated Certifications HoursWorkedPerWeek  \
0                  Not Asked      Not Asked          Not Asked
1                  Not Asked      Not Asked          Not Asked
2                  Not Asked      Not Asked          Not Asked
3                  Not Asked      Not Asked          Not Asked
4                  Not Asked      Not Asked          Not Asked

  TelecommuteDaysPerWeek NewestVersionInProduction OldestVersionInProduction  \
0              Not Asked           SQL Server 2019           SQL Server 2016
1              Not Asked                  informix                  informix
2              Not Asked           SQL Server 2017           SQL Server 2017
3              Not Asked           SQL Server 2016           SQL Server 2012
4              Not Asked           SQL Server 2016         SQL Server 2008R2

  PopulationOfLargestCityWithin20Miles  EmploymentSector LookingForAnotherJob  \
0                 20K-99K (large town)  Private business            Not Asked
1                     1M+ (metropolis)  Private business            Not Asked
2                     1M+ (metropolis)  Private business            Not Asked
3                     1M+ (metropolis)  Private business            Not Asked
4                     100K-299K (city)        Non-profit            Not Asked

                      CareerPlansThisYear Gender OtherJobDuties  \
0  Stay with the same employer, same role   Male      Not Asked
1                       Prefer not to say   Male      Not Asked
2  Stay with the same employer, same role   Male      Not Asked
3         Change both employers and roles   Male      Not Asked
4  Stay with the same employer, same role   Male      Not Asked

  KindsOfTasksPerformed  Counter
0             Not Asked        1
1             Not Asked        1
2             Not Asked        1
3             Not Asked        1
4             Not Asked        1
Index(['Survey Year', 'Timestamp', 'SalaryUSD', 'Country', 'PostalCode',
       'PrimaryDatabase', 'YearsWithThisDatabase', 'OtherDatabases',
       'EmploymentStatus', 'JobTitle', 'ManageStaff', 'YearsWithThisTypeOfJob',
       'HowManyCompanies', 'OtherPeopleOnYourTeam', 'CompanyEmployeesOverall',
       'DatabaseServers', 'Education', 'EducationIsComputerRelated',
       'Certifications', 'HoursWorkedPerWeek', 'TelecommuteDaysPerWeek',
       'NewestVersionInProduction', 'OldestVersionInProduction',
       'PopulationOfLargestCityWithin20Miles', 'EmploymentSector',
       'LookingForAnotherJob', 'CareerPlansThisYear', 'Gender',
       'OtherJobDuties', 'KindsOfTasksPerformed', 'Counter'],
      dtype='object')

Même procédé qu'avant, je ne garde que les colonnes qui me paraissent utiles.

In [106]:
dfb = df_raw_b[['SalaryUSD', 'Country', 'PostalCode', 
                'JobTitle','YearsWithThisTypeOfJob', 'HowManyCompanies', 'OtherPeopleOnYourTeam',
                'HoursWorkedPerWeek', 'LookingForAnotherJob', 'Gender']]

## 3. Valeurs manquantes

### Recherche des valeurs manquantes

In [107]:
print(dfk.isnull().sum())
print(dfk.shape)

Job Title          0
Salary Estimate    0
Location           0
dtype: int64
(2253, 3)

Il ne manque pas de valeur dans le premier tableau.
Passons au second

In [108]:
print(dfb.isnull().sum())
print(dfb.shape)

SalaryUSD                    0
Country                      0
PostalCode                1381
JobTitle                     0
YearsWithThisTypeOfJob       0
HowManyCompanies             0
OtherPeopleOnYourTeam        0
HoursWorkedPerWeek           0
LookingForAnotherJob         0
Gender                       0
dtype: int64
(8599, 10)

Il manque 1390 valeurs sur 8627 dans le code postal. On va conserver ces colonnes car elles ne font pas partie du centre de l'étude.

### Traitement de PostalCode

Avant de procéder à des modifications, on peut ne conserver que les données provenant des Etats-Unis pour limiter le nombre de code postaux à traiter. On regarde ensuite combien de valeurs manquantes il reste. On commence par regarder la dénomination des Etats-Unis dans la table. On modifie les options de pandas pour afficher toutes les lignes et toutes les colonnes des DataFrames.

In [109]:
pd.set_option("max_rows", None)
pd.set_option("max_columns", None)
print(dfb.groupby("Country").Country.count())

Country
Albania                     1
Anguilla                    1
Argentina                  13
Armenia                     1
Australia                 221
Austria                    25
Bahrain                     1
Belarus                     2
Belgium                    35
Bermuda                     1
Bolivia                     1
Brazil                     37
Bulgaria                   15
Canada                    305
Cayman Islands              2
China                       2
Colombia                    5
Costa Rica                  4
Croatia                     8
Czech Republic             24
Denmark                    60
Dominican Republic          1
Ecuador                     2
El Salvador                 2
Estonia                     1
Finland                    19
France                     42
Georgia                     1
Germany                   125
Ghana                       1
Greece                     21
Guatemala                   1
Guernsey                    4
Hong Kong                   4
Hungary                    17
Iceland                     6
India                     135
Indonesia                   2
Iran                        1
Ireland                    49
Israel                     26
Italy                      44
Jamaica                     2
Jersey                      8
Jordan                      2
Kenya                       1
Latvia                      4
Lithuania                  12
Luxembourg                  7
Macedonia                   4
Malaysia                    2
Maldives                    1
Malta                       3
Mexico                     17
Moldova                     3
Nepal                       1
Netherlands               103
New Zealand                69
Nicaragua                   2
Norway                     27
Pakistan                    3
Paraguay                    1
Peru                        3
Philippines                 9
Poland                     61
Portugal                   25
Puerto Rico                 4
Qatar                       1
Romania                    52
Russia                     43
Saudi Arabia               10
Serbia and Montenegro      13
Singapore                   4
Slovakia                    7
Slovenia                   14
South Africa               77
Spain                      43
Swaziland                   1
Sweden                    115
Switzerland                51
Syria                       2
Taiwan                      2
Thailand                    2
Turkey                     20
Uganda                      4
Ukraine                    32
United Arab Emirates        5
United Kingdom            796
United States            5657
Uruguay                     3
Vanuatu                     1
Venezuela                   1
Vietnam                     1
Name: Country, dtype: int64

Nous constatons que la seule appelation pour désigner les Etats-Unis est United States. Je choisis donc de conserver uniquement les lignes dont le pays est "United States".

In [110]:
dfb = dfb[dfb.Country == 'United States']
print(dfb.isnull().sum())
print(dfb.shape)

SalaryUSD                   0
Country                     0
PostalCode                462
JobTitle                    0
YearsWithThisTypeOfJob      0
HowManyCompanies            0
OtherPeopleOnYourTeam       0
HoursWorkedPerWeek          0
LookingForAnotherJob        0
Gender                      0
dtype: int64
(5657, 10)

Il reste 466 code postaux non indiqués sur 5680 lignes au total. Regardons quelles sont les valeurs les plus fréquentes dans la colonne Postal Code.

In [111]:
print(dfb.groupby("PostalCode").PostalCode.count().sort_values().tail())

PostalCode
60601          10
60606          11
98101          12
92121          12
Not Asked    1879
Name: PostalCode, dtype: int64

Comme il y a un grand nombre de code postaux qui n'ont pas été indiqué, je décide de remplacer les valeurs non assignées par Not Asked pour que Not Asked désigne toutes les valeurs qui n'ont pas été renseignées dans PostalCode.

In [112]:
dfb.PostalCode = dfb.PostalCode.fillna("Not Asked")

Toutes les données non renseignées de PostalCode sont sous la dénomination "Not Asked". 

## 3.Traitement des dates

Commençons par regarder le type des données contenues dans nos tables.

In [113]:
print("Table 1: \n", dfk.dtypes)
print("Table 2: \n", dfb.dtypes)

Table 1:
 Job Title          object
Salary Estimate    object
Location           object
dtype: object
Table 2:
 SalaryUSD                 float64
Country                    object
PostalCode                 object
JobTitle                   object
YearsWithThisTypeOfJob      int64
HowManyCompanies           object
OtherPeopleOnYourTeam      object
HoursWorkedPerWeek         object
LookingForAnotherJob       object
Gender                     object
dtype: object

Il n'y a pas de dates dans nos données, il n'y a donc pas de traitement à effectuer de ce point de vue.


## 4. Traitement des valeurs 

Dans cette partie, je vais regarder les valeurs présentes dans nos tableaux pour ensuite les traiter si elles sont aberrantes ou incohérentes.

### Traitement de SalaryUSD

On visualise SalaryUSD en groupant pour rendre le résultat plus lisible.

In [114]:
print(dfb.groupby("SalaryUSD").SalaryUSD.count())

SalaryUSD
0.00            1
92.27           1
125.00          1
130.00          1
135.00          1
144.00          1
150.00          1
11100.00        1
11500.00        1
11800.00        1
12300.00        1
24000.00        1
25000.00        1
30000.00        3
31200.00        1
32000.00        1
35000.00        1
35800.00        1
36000.00        2
37400.00        1
37500.00        1
38000.00        3
38500.00        1
39000.00        1
40000.00       18
42000.00        1
42500.00        1
43000.00        6
44000.00        2
45000.00       11
45760.00        1
46000.00        4
46350.00        1
46820.00        1
47000.00        3
47240.00        1
47500.00        1
47840.00        1
48000.00       10
48500.00        1
49000.00        4
49260.00        1
49500.00        1
49900.00        1
50000.00       25
50085.00        1
50750.00        1
51000.00        9
51700.00        1
51800.00        1
52000.00       15
52500.00        1
53000.00        7
53040.00        1
53500.00        2
54000.00       13
55000.00       29
55500.00        1
55600.00        1
56000.00        7
56500.00        4
56600.00        1
56700.00        1
56800.00        1
57000.00       13
57200.00        1
57300.00        1
57400.00        1
57500.00        1
58000.00       12
58500.00        3
58775.00        1
59000.00        9
59009.00        1
59100.00        1
59700.00        1
60000.00       52
60090.00        1
60166.00        1
60500.00        1
60600.00        1
60900.00        1
61000.00       12
61200.00        2
61500.00        1
61773.00        1
61800.00        1
61900.00        1
62000.00       30
62400.00        2
62500.00        2
62661.00        1
62700.00        1
63000.00       18
63300.00        1
63330.00        1
63344.00        1
63400.00        1
63500.00        2
63600.00        1
64000.00       13
64477.00        1
64480.00        1
64750.00        1
64775.00        1
65000.00       90
65240.00        1
65500.00        3
65543.00        1
66000.00       17
66050.00        1
66500.00        3
66625.00        1
67000.00       23
67017.00        1
67080.00        1
67275.00        1
67418.00        1
67500.00        3
68000.00       28
68081.00        1
68800.00        1
68950.00        1
69000.00       12
69500.00        1
69725.00        1
69875.00        1
69990.00        1
70000.00       79
70180.00        1
70400.00        1
70760.00        1
70788.00        1
70863.00        1
71000.00       18
71400.00        2
71500.00        4
71594.00        1
72000.00       50
72135.00        1
72176.00        1
72450.00        1
72500.00        8
73000.00       33
73500.00        1
73745.00        1
73757.00        1
73840.00        1
73855.00        1
74000.00       22
74351.00        1
74400.00        1
74813.00        1
74880.00        1
75000.00       88
75100.00        1
75110.00        1
75200.00        1
75500.00        1
75524.00        1
75600.00        1
75700.00        1
75720.00        1
75736.00        1
76000.00       19
76125.00        1
76200.00        1
76500.00        3
76780.00        1
76800.00        3
77000.00       26
77040.00        1
77140.00        1
77250.00        2
77500.00        6
77575.00        1
77600.00        1
77624.00        1
77650.00        1
77700.00        1
77800.00        1
77850.00        2
77855.00        1
78000.00       37
78052.00        1
78250.00        1
78500.00        3
78600.00        1
78750.00        1
78852.00        1
79000.00       17
79063.00        1
79280.00        1
79500.00        2
79750.00        1
79800.00        1
80000.00      125
80100.00        1
80104.00        1
80751.00        1
80753.00        1
80939.00        1
81000.00       21
81100.00        1
81471.00        1
81500.00        2
81600.00        1
81645.00        1
81723.00        2
82000.00       44
82400.00        1
82500.00        6
82804.00        1
83000.00       27
83018.00        1
83200.00        2
83232.00        1
83500.00        2
83599.00        1
84000.00       35
84048.00        1
84460.00        1
84500.00        3
85000.00      141
85155.00        1
85200.00        1
85488.00        1
85500.00        1
85540.00        1
85544.00        1
85571.00        1
85654.00        1
85850.00        1
85900.00        1
86000.00       35
86006.00        1
86065.00        1
86150.00        1
86174.00        1
86200.00        1
86500.00        4
86600.00        1
86650.00        1
86700.00        1
86735.00        1
87000.00       41
87100.00        1
87360.00        1
87400.00        4
87428.00        1
87491.00        1
87500.00        7
87600.00        3
87700.00        1
87890.00        1
87992.00        1
87996.00        1
88000.00       42
88002.00        1
88050.00        1
88130.00        1
88500.00        2
88580.00        1
89000.00       24
89035.00        1
89139.00        1
89500.00        2
89600.00        2
89750.00        2
89814.00        1
90000.00      160
90200.00        1
90250.00        1
90500.00        1
90875.00        1
90900.00        1
91000.00       26
91214.00        1
91350.00        1
91371.00        1
91400.00        2
91484.00        1
91500.00        2
91520.00        1
91660.00        1
91800.00        1
91865.00        1
92000.00       64
92100.00        1
92103.00        1
92220.00        1
92425.00        1
92500.00       14
92600.00        1
92700.00        1
92750.00        1
92822.00        2
92880.00        1
92950.00        1
93000.00       50
93156.00        1
93500.00       12
93567.00        1
93800.00        1
94000.00       32
94188.00        1
94200.00        1
94245.00        1
94500.00        6
94994.00        1
95000.00      156
95138.00        1
95185.00        1
95200.00        1
95207.00        1
95378.00        1
95500.00        2
95532.00        1
95600.00        2
95612.00        1
95800.00        1
96000.00       50
96108.00        1
96500.00        4
96600.00        1
97000.00       41
97088.00        1
97232.00        1
97263.00        1
97325.00        1
97335.00        2
97500.00       12
97700.00        1
98000.00       64
98259.00        1
98500.00        4
98600.00        1
98670.00        1
98750.00        2
98760.00        1
98800.00        1
98966.00        1
99000.00       24
99100.00        1
99220.00        1
99257.00        1
99350.00        1
99500.00        3
99600.00        3
99800.00        2
100000.00     169
100001.00       1
100093.00       1
100200.00       2
100280.00       1
100282.00       1
100318.00       1
100400.00       1
100420.00       1
100500.00       2
100646.00       1
100800.00       1
101000.00      31
101230.00       1
101250.00       1
101400.00       1
101500.00       2
101725.00       1
101750.00       1
101900.00       2
102000.00      46
102104.00       1
102200.00       1
102232.00       1
102456.00       1
102494.00       1
102500.00       5
102800.00       1
102900.00       2
102960.00       1
102990.00       1
103000.00      55
103107.00       1
103110.00       2
103250.00       1
103500.00       1
103520.00       1
103900.00       3
104000.00      44
104104.00       1
104300.00       1
104310.00       1
104495.00       1
104500.00       3
105000.00     154
105560.00       1
105607.00       1
105721.00       1
105750.00       1
105800.00       2
106000.00      39
106300.00       1
106400.00       2
106500.00       6
106575.00       1
106700.00       1
106956.00       1
107000.00      39
107500.00       3
107540.00       1
107690.00       1
107800.00       1
107814.00       1
107900.00       1
108000.00      51
108250.00       1
108500.00       3
108564.00       1
108707.00       1
108819.00       1
109000.00      30
109200.00       1
109300.00       1
109500.00       1
110000.00     201
110040.00       1
110154.00       1
110240.00       1
110400.00       2
110700.00       1
110724.00       1
111000.00      20
111250.00       1
111300.00       1
111500.00       1
112000.00      40
112350.00       1
112500.00       7
112700.00       1
112840.00       1
112874.00       1
113000.00      33
113097.00       1
113100.00       2
113300.00       2
113400.00       1
113500.00       4
113650.00       1
113842.00       1
113900.00       1
114000.00      19
114300.00       1
114500.00       1
114700.00       1
114830.00       1
115000.00     158
115200.00       1
115500.00       4
115544.00       1
115600.00       2
115700.00       1
116000.00      27
116300.00       1
116340.00       1
116400.00       2
116500.00       6
116965.00       1
117000.00      24
117031.00       1
117500.00       8
117600.00       1
117770.00       1
117832.00       1
118000.00      40
118111.00       1
118400.00       1
118450.00       1
118500.00       3
118556.00       1
118560.00       1
119000.00      10
119071.00       1
119500.00       2
119831.00       1
120000.00     186
120240.00       1
120250.00       1
120500.00       1
120792.00       1
121000.00      23
121200.00       1
121368.00       1
121500.00       2
121807.00       1
121950.00       1
122000.00      31
122400.00       1
122500.00       4
122645.00       1
123000.00      30
123200.00       2
123217.00       1
123300.00       1
123500.00       1
123585.00       1
123600.00       3
123634.00       1
123847.00       1
124000.00      17
124500.00       2
124600.00       1
124800.00       2
125000.00     167
125250.00       1
125400.00       1
125800.00       1
125900.00       1
126000.00      16
126500.00       2
126800.00       1
127000.00      18
127500.00       9
127750.00       2
128000.00      19
128500.00       5
128593.00       1
128800.00       1
128825.00       1
129000.00      20
129780.00       1
129800.00       2
130000.00     130
130271.00       1
130500.00       1
130750.00       1
131000.00      15
131500.00       2
131700.00       1
131720.00       1
132000.00      30
132131.00       1
132387.00       1
132500.00       2
132725.00       1
133000.00      11
133010.00       1
133500.00       2
133700.00       1
133800.00       2
133900.00       1
134000.00      19
134391.00       1
134400.00       1
135000.00     103
135300.00       1
135500.00       2
135600.00       1
136000.00      16
136500.00       4
137000.00      21
137443.00       1
137500.00       6
137900.00       1
138000.00      21
138500.00       3
139000.00      12
140000.00      89
140321.00       1
140394.00       1
141000.00       6
141750.00       1
142000.00      19
142500.00       5
142600.00       1
143000.00      11
143200.00       1
143547.00       1
143800.00       1
144000.00      10
144700.00       1
144760.00       1
145000.00      57
145493.00       1
145500.00       1
145600.00       1
146000.00       3
147000.00       8
147200.00       1
147500.00       1
148000.00      12
148500.00       1
148986.00       1
149000.00       8
150000.00      72
151000.00       5
151400.00       1
151500.00       1
152000.00       7
153000.00      10
153027.00       1
153300.00       1
153400.00       1
153500.00       1
154000.00       5
155000.00      27
155500.00       1
156000.00      11
157000.00       3
158000.00       5
158200.00       1
158500.00       1
158566.00       1
158995.00       1
159000.00       1
159056.00       1
160000.00      49
160750.00       1
161449.00       1
162000.00       8
162788.00       1
163000.00       4
164000.00       7
165000.00      26
166000.00       3
166400.00       1
167000.00       4
167250.00       1
168000.00       5
169000.00       1
170000.00      17
171000.00       2
172000.00       2
174000.00       1
175000.00      19
176000.00       2
177000.00       1
177400.00       1
178000.00       3
179000.00       1
179800.00       1
180000.00      15
180600.00       1
182000.00       1
184000.00       1
185000.00       9
186000.00       1
187000.00       1
187500.00       1
188000.00       1
189000.00       2
190000.00       6
192000.00       1
193000.00       1
194000.00       2
195000.00       9
196000.00       2
198000.00       2
199000.00       1
200000.00      26
201000.00       1
205000.00       4
207000.00       1
208000.00       1
209000.00       1
210000.00       3
211000.00       1
215000.00       1
215250.00       1
217000.00       1
220000.00       8
225000.00       7
230000.00       1
235000.00       2
240000.00       7
245000.00       1
250000.00       5
260000.00       4
264000.00       1
265000.00       1
270000.00       2
272000.00       1
275000.00       1
280000.00       1
290000.00       3
300000.00       6
320000.00       2
325000.00       3
333000.00       1
345000.00       1
350000.00       3
400000.00       3
425000.00       2
500000.00       1
545000.00       1
575000.00       1
650000.00       1
705000.00       1
750000.00       1
785000.00       1
960000.00       1
1000000.00      2
1375000.00      1
1450000.00      2
1850000.00      1
Name: SalaryUSD, dtype: int64

On constate qu'il y a des valeurs très élevées et très faibles qui paraissent aberrantes. On va afficher les lignes concernées avec un salaire inférieur à 20000 ou supérieur à 800000. En dessous de 800000, il semble y avoir une certaine continuité dans les valeurs donc je ne les considère pas comme aberrantes.

In [115]:
print(dfb[(dfb.SalaryUSD < 20000.00) | (dfb.SalaryUSD > 800000.00)])

       SalaryUSD        Country PostalCode  \
556   1850000.00  United States      98010
745       144.00  United States      21921
984       125.00  United States      76102
1062        0.00  United States      49546
1176      135.00  United States  Not Asked
1311      150.00  United States      21090
2090    11800.00  United States  Not Asked
2206    11100.00  United States      03801
3511   960000.00  United States  Not Asked
3893  1000000.00  United States  Not Asked
4213  1375000.00  United States       4039
4811      130.00  United States  Not Asked
5367       92.27  United States      95630
5541  1450000.00  United States      53118
6473  1000000.00  United States  Not Asked
6924    11500.00  United States  Not Asked
7612  1450000.00  United States  Not Asked
8402    12300.00  United States  Not Asked

                                               JobTitle  \
556                                             Manager
745   DBA (Development Focus - tunes queries, indexe...
984   DBA (General - splits time evenly between writ...
1062                                            Analyst
1176                                            Manager
1311                                            Manager
2090                                          Architect
2206  Developer: Business Intelligence (SSRS, PowerB...
3511  DBA (General - splits time evenly between writ...
3893  DBA (Production Focus - build & troubleshoot s...
4213  Developer: Business Intelligence (SSRS, PowerB...
4811  DBA (Production Focus - build & troubleshoot s...
5367  Developer: Business Intelligence (SSRS, PowerB...
5541  DBA (General - splits time evenly between writ...
6473                                            Manager
6924                                                DBA
7612                                            Analyst
8402                                                DBA

      YearsWithThisTypeOfJob  \
556                        5
745                       35
984                       24
1062                       4
1176                       2
1311                      10
2090                      10
2206                       5
3511                       8
3893                       3
4213                      18
4811                      17
5367                      16
5541                      10
6473                      20
6924                       6
7612                      12
8402                       4

                                       HowManyCompanies OtherPeopleOnYourTeam  \
556   1 (this is the only company where I've had thi...                     4
745   2 (I worked at another similar position elsewh...                  None
984                                                   3                     3
1062  1 (this is the only company where I've had thi...                  None
1176                                                  5                  None
1311  2 (I worked at another similar position elsewh...                  None
2090                                                  5                  None
2206  1 (this is the only company where I've had thi...                     4
3511                                          Not Asked                     1
3893                                          Not Asked                  None
4213                                          Not Asked                  None
4811                                          Not Asked           More than 5
5367                                          Not Asked                  None
5541                                          Not Asked                  None
6473                                          Not Asked                  None
6924                                          Not Asked                     4
7612                                          Not Asked                     3
8402                                          Not Asked                  None

     HoursWorkedPerWeek                    LookingForAnotherJob     Gender
556           Not Asked                               Not Asked     Female
745           Not Asked                               Not Asked       Male
984           Not Asked                               Not Asked       Male
1062          Not Asked                               Not Asked     Female
1176          Not Asked                               Not Asked     Female
1311          Not Asked                               Not Asked       Male
2090                 40                                      No       Male
2206                 50  Yes, but only passively (just curious)       Male
3511                 40                                      No       Male
3893                 80                                      No       Male
4213                 32                                      No       Male
4811                 50  Yes, but only passively (just curious)     Female
5367                 40                                      No       Male
5541                 45  Yes, but only passively (just curious)       Male
6473                 60  Yes, but only passively (just curious)  Not Asked
6924                 50                                      No  Not Asked
7612                 42                                      No  Not Asked
8402                 37  Yes, but only passively (just curious)  Not Asked

Rien ne justifie dans ce que je peux voir dans les valeurs extrêmes. Le salaire étant une partie centrale de l'étude, je prend la décision de supprimer les lignes en question.

In [116]:
dfb.drop(dfb[(dfb.SalaryUSD < 20000.00) | (dfb.SalaryUSD > 800000.00)].index, inplace=True)

### Traitement de Country

La colonne Country a déjà été traitée au niveau du traitement des valeurs manquantes. Il ne reste rien à modifier. J'ai sélectionné toutes les lignes faisant référence à des personnes travaillant aux Etats-Unis.

### Traitement de PostalCode

On commence par visualiser ce qu'il y a dans PostalCode en groupant par PostalCode pour rendre le résultat plus lisible.

In [117]:
print(dfb.groupby("PostalCode").PostalCode.count())

PostalCode
1                   1
3                   2
5                   1
6                   1
11                  1
13                  2
16                  1
17                  1
19                  1
27                  4
29                  1
32                  1
33                  1
38                  2
40                  1
41                  1
43                  1
44                  1
45                  1
46                  1
50                  1
54                  2
59                  1
60                  1
61                  1
62                  3
65                  2
68                  5
74                  1
75                  1
76                  1
84                  2
85                  2
91                  1
95                  1
98                  1
100                 2
103                 1
109                 1
113                 1
117                 1
145                 2
146                 6
175                 2
179                 1
184                 2
187                 1
190                 3
193                 1
194                 1
195                 1
210                 1
216                 1
221                 1
222                 1
234                 1
275                 2
276                 4
277                 1
282                 1
290                 1
294                 1
300                 1
303                 1
310                 1
328                 1
329                 1
335                 1
338                 1
342                 1
356                 1
376                 2
402                 1
405                 1
420                 1
430                 3
432                 3
435                 1
440                 1
441                 3
442                 2
452                 3
479                 1
480                 3
481                 1
484                 1
488                 2
489                 1
494                 1
524                 1
532                 1
537                 1
546                 2
548                 1
549                 1
551                 1
554                 1
560                 1
577                 1
596                 1
600                 1
601                 3
604                 1
605                 4
606                 3
609                 1
618                 1
640                 2
650                 1
652                 1
658                 1
660                 1
662                 2
665                 1
667                 1
672                 1
681                 3
728                 1
730                 1
740                 1
750                 7
752                 1
761                 2
762                 2
770                 1
773                 1
801                 1
802                 2
804                 1
805                 4
837                 2
840                 3
841                 2
845                 1
850                 1
852                 3
875                 2
891                 1
895                 1
917                 1
920                 1
921                 1
923                 1
925                 1
926                 4
931                 1
941                 1
944                 1
949                 1
956                 1
958                 1
960                 1
970                 1
972                 4
981                 2
982                 1
985                 1
986                 1
998                 1
999                 1
1000                1
1230                1
1248                1
1460                1
1463                1
1606                1
1730                3
1752                1
1810                1
1852                1
1886                1
1970                1
2000                1
2035                1
2109                1
2110                1
2114                1
2116                2
2120                1
2129                1
2130                1
2134                3
2139                1
2144                1
2152                1
2155                1
2199                1
2210                3
2451                1
2466                1
2760                1
2903                1
2919                1
3054                1
3062                1
3101                1
3103                1
3104                1
3106                1
3222                1
3242                1
3566                1
3755                1
3801                1
4101                2
4102                1
4103                1
4112                1
4330                1
4401                1
4412                1
4843                1
4901                1
4938                1
5143                1
5401                2
5478                1
5810                1
6019                1
6030                1
6032                3
6054                1
6067                2
6082                1
6095                1
6304                1
6484                1
6488                1
6492                1
6824                1
6902                1
7072                1
7082                2
7204                1
7463                1
7601                1
7709                1
7753                1
7843                1
7890                1
8002                1
8012                1
8043                1
8054                1
8085                1
8234                1
8330                1
8540                1
8701                1
8807                1
8844                1
8852                1
8873                1
9800                1
10001               9
10003               1
10004               3
10007               2
10010               1
10012               1
10013               2
10014               2
10016               1
10017               1
10019               1
10022               1
10025               1
10031               1
10034               2
10036               3
10118               1
10119               1
10604               1
11102               1
11201               2
11203               1
11207               1
11225               3
11234               1
11238               1
11354               1
11385               1
11691               1
11729               1
11741               1
11747               1
11797               1
12078               1
12110               1
12203               2
12205               1
12207               1
12227               1
12228               2
12504               1
13057               2
13066               1
13202               2
13209               2
13760               1
14020               1
14032               2
14051               1
14150               1
14202               1
14203               2
14214               1
14216               2
14217               2
14224               1
14225               1
14228               1
14425               1
14445               2
14450               3
14515               1
14546               1
14564               1
14568               1
14580               2
14607               2
14608               1
14610               2
14612               3
14617               1
14830               1
15009               1
15017               1
15044               1
15068               1
15074               2
15086               2
15090               2
15102               1
15129               1
15201               1
15203               5
15205               1
15206               1
15210               2
15212               1
15213               1
15217               1
15221               1
15222               7
15227               1
15234               2
15235               1
15236               2
15237               1
15241               1
15243               1
15558               1
15650               1
15658               1
15905               1
16055               2
16066               1
16150               1
16506               2
16510               1
16602               2
16801               1
16802               1
17011               1
17055               1
17101               1
17110               2
17111               1
17112               1
17401               1
17404               1
17405               1
17406               1
17506               1
17545               1
17601               5
17602               1
17603               4
17821               1
18017               1
18018               2
18103               1
18104               1
18411               1
18428               1
18509               1
18944               1
18960               1
19004               1
19034               1
19044               2
19046               1
19047               4
19050               1
19053               1
19063               1
19083               1
19087               1
19100               1
19101               2
19102               1
19103               6
19104               2
19107               2
19116               1
19123               1
19125               1
19130               1
19146               1
19154               2
19312               1
19335               1
19355               2
19380               2
19381               1
19403               1
19406               2
19426               1
19428               2
19444               1
19446               1
19462               1
19464               1
19465               2
19473               1
19475               1
19508               1
19543               1
19610               1
20001               1
20004               1
20005               1
20007               2
20017               1
20036               1
20045               1
20105               1
20120               1
20148               1
20166               1
20175               1
20187               1
20190               3
20715               2
20723               2
20724               1
20746               1
20814               6
20817               1
20850               1
20872               1
20878               2
20902               1
20904               1
21001               1
21005               2
21014               3
21017               2
21030               2
21045               1
21046               1
21060               1
21090               1
21128               1
21201               2
21202               2
21204               1
21211               2
21222               1
21228               2
21401               1
21409               1
21921               1
22015               1
22031               1
22032               1
22033               1
22102               2
22180               2
22193               1
22201               3
22202               3
22203               1
22206               1
22209               1
22304               1
22306               1
22314               2
22401               2
22902               1
22903               1
23059               1
23060               4
23222               1
23230               1
23233               1
23236               1
23238               1
23294               1
23320               1
23321               2
23451               1
23454               1
23455               1
23456               1
23462               1
23464               5
23487               1
23510               1
23661               1
23901               1
24014               1
24019               1
24502               3
25303               1
25304               1
25571               1
26003               1
26037               1
27012               1
27040               1
27101               3
27103               1
27104               2
27105               2
27244               2
27262               1
27265               1
27278               1
27357               1
27360               1
27401               2
27406               1
27410               1
27455               1
27513               3
27516               1
27523               1
27526               1
27560               7
27597               1
27601               1
27602               1
27603               3
27605               1
27606               3
27609               1
27612               2
27614               2
27616               5
27617               2
27701               1
27703               4
27713               2
28027               1
28054               2
28079               1
28144               1
28173               1
28174               1
28202               2
28208               1
28210               1
28212               1
28213               1
28217               2
28219               1
28226               1
28227               2
28262               1
28277               8
28403               1
28470               1
28602               2
28786               1
28801               2
28803               1
29036               2
29045               1
29108               1
29201               6
29210               3
29365               2
29401               1
29407               2
29414               1
29456               1
29466               1
29607               2
29615               2
29638               1
29640               1
29650               3
29651               3
29681               1
29715               1
29841               1
30004               4
30005               4
30009               3
30014               1
30022               2
30024               1
30030               1
30040               1
30041               2
30047               1
30060               2
30062               3
30066               1
30067               1
30071               1
30072               1
30075               1
30076               4
30080               3
30082               1
30087               1
30092               2
30096               1
30097               4
30101               2
30114               1
30126               2
30144               2
30165               1
30293               1
30305               2
30308               1
30313               1
30316               1
30318               1
30319               2
30326               3
30328               2
30329               1
30339               4
30340               1
30341               2
30342               2
30345               1
30346               2
30518               1
30548               2
30566               1
30720               1
30901               1
31008               1
31220               2
31419               2
31533               1
31601               1
31901               1
32073               1
32092               1
32164               1
32174               1
32202               1
32207               2
32216               1
32225               2
32232               1
32244               1
32246               1
32256               5
32257               2
32258               4
32259               1
32303               1
32308               1
32317               1
32327               1
32503               1
32561               1
32606               1
32607               1
32703               1
32730               1
32746               1
32750               1
32765               1
32771               1
32779               2
32792               1
32801               1
32803               1
32805               1
32807               1
32810               2
32819               2
32821               1
32824               1
32828               1
32839               4
32899               1
32905               1
32955               2
33000               1
33004               1
33014               1
33024               1
33027               1
33029               1
33069               1
33073               1
33131               2
33132               1
33133               1
33134               1
33145               1
33182               1
33185               1
33309               1
33324               1
33411               1
33419               1
33431               1
33432               1
33461               3
33463               1
33483               1
33487               1
33498               1
33545               1
33569               1
33570               1
33578               1
33596               1
33601               1
33602               1
33603               1
33607               3
33609               1
33610               1
33611               1
33615               1
33618               1
33624               3
33625               1
33626               1
33634               2
33635               1
33647               1
33702               2
33705               1
33711               1
33716               1
33781               1
33810               1
33813               2
33919               1
33928               1
33950               1
33993               1
34105               1
34110               1
34112               2
34120               3
34232               1
34638               2
34655               1
34667               1
34695               3
34711               1
34743               1
34761               1
34772               1
34787               2
34990               1
35124               1
35242               1
35401               1
35405               1
35801               1
35802               2
36009               1
36024               1
36104               1
36116               1
36117               2
36527               1
36609               1
37011               1
37013               2
37027               6
37064               1
37066               3
37067               3
37076               2
37086               1
37127               1
37128               2
37129               2
37167               1
37179               1
37201               2
37203               3
37204               3
37206               1
37209               1
37214               3
37217               1
37228               1
37377               1
37402               2
37415               1
37450               1
37604               1
37664               2
37743               1
37772               1
37792               1
37803               1
37804               1
37831               1
37919               2
37922               1
37923               1
37932               2
37934               2
38004               1
38017               2
38018               1
38058               1
38103               2
38104               1
38118               1
38120               2
38301               1
38401               1
38654               2
38801               1
38804               1
39047               1
39601               2
40059               1
40065               1
40202               4
40204               1
40205               2
40207               1
40217               1
40223               2
40228               1
40229               1
40243               1
40245               1
40291               1
40299               1
40356               1
40475               1
40509               1
40511               1
40513               1
40515               1
41017               1
41075               1
42025               1
42071               1
42303               1
42701               2
43004               1
43016               7
43017               5
43024               1
43026               4
43035               2
43040               1
43050               1
43065               1
43072               1
43081               1
43082               1
43110               1
43147               1
43201               2
43204               1
43205               1
43212               1
43215               3
43224               1
43229               1
43230               1
43235               1
43240               1
43528               1
43537               1
43551               2
43612               1
43614               1
44017               2
44039               1
44056               1
44089               1
44107               1
44111               2
44113               1
44114               2
44121               1
44122               2
44124               1
44125               1
44130               3
44135               1
44136               1
44139               1
44141               1

On constate qu'il y a plusieurs problèmes. La norme pour les codes postaux aux Etats-Unis est d'avoir 5 chiffres. On voit que certains codes postaux ne respectent pas cette longueur et que d'autres ne sont pas uniquement composés de chiffres. On va donc les modifier en passant ces codes postaux erronés en "Not Asked" pour avoir toutes les valeurs incohérentes ou renseignées sous la même dénomination comme il y a déjà beaucoup de valeurs non renseignées dans cette colonne.

In [118]:
# Convert PostalCode column in string to use it
dfb.PostalCode = dfb.PostalCode.astype(str)
# Modify wrong PostalCode with Not Asked
dfb.loc[(dfb.PostalCode.str.len()) != 5 | dfb.PostalCode.str.isalpha(),
                   "PostalCode"] = "Not Asked"

### Traitement de JobTitle

Regardons les valeurs présentes dans JobTitle.

In [119]:
print(dfb.groupby('JobTitle').JobTitle.count().sort_values())

JobTitle
DevOps, Sr Software Engineer DBA                                                                                 1
Sr Consultant                                                                                                    1
Principal database engineer                                                                                      1
Database Specialist                                                                                              1
Technician                                                                                                       1
Consultant                                                                                                       1
Analytics consultant                                                                                             1
Systems Administrator                                                                                            2
Data Scientist                                                                                                  36
Other                                                                                                           89
DBA (Development Focus - tunes queries, indexes, does deployments)                                             245
Engineer                                                                                                       271
Analyst                                                                                                        345
Developer: App code (C#, JS, etc)                                                                              350
Developer: Business Intelligence (SSRS, PowerBI, etc)                                                          357
Manager                                                                                                        378
Architect                                                                                                      471
Developer: T-SQL                                                                                               532
DBA (Production Focus - build & troubleshoot servers, HA/DR)                                                   578
DBA                                                                                                            974
DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers)    1004
Name: JobTitle, dtype: int64

On constate qu'il y a certains postes très peu représentés (1 ou 2 fois). Je prend la décision de leur assigner la valeur Other, leur poste n'étant pas forcément pertinents vu la faible représentation. De plus, le JobTitle sera surtout utilisé pour calculer le salaire moyen de chaque JobTitle, un salaire moyen avec 1 ou 2 individus serait peu pertinent à mes yeux.

In [120]:
cond = dfb.groupby('JobTitle').JobTitle.count() < 5
dfb.loc[dfb.JobTitle.isin(cond.loc[cond].index), "JobTitle"] = "Other"

### Traitement de YearsWithThisTypeOfJob

Regardons les valeurs présentes dans YearsWithThisTypeOfJob

In [121]:
print(dfb.groupby("YearsWithThisTypeOfJob").YearsWithThisTypeOfJob.count())

YearsWithThisTypeOfJob
0      42
1     635
2     599
3     597
4     470
5     549
6     318
7     267
8     250
9     108
10    426
11     73
12    154
13     66
14     57
15    244
16     68
17     75
18     94
19     45
20    222
21     28
22     42
23     18
24     12
25     82
26      9
27      6
28     12
29      8
30     28
31      3
32      7
33      2
34      2
35      6
36      2
37      2
38      4
39      1
40      4
44      1
45      1
Name: YearsWithThisTypeOfJob, dtype: int64

Il n'y a pas de valeurs incohérentes ou aberrantes dans cette colonne, je n'y touche donc pas.

### Traitement de HowManyCompanies

Regardons les valeurs présentes dans HowManyCompanies:

In [122]:
print(dfb.groupby('HowManyCompanies').HowManyCompanies.count().sort_values())

HowManyCompanies
5                                                                       84
6 or more                                                              101
4                                                                      122
3                                                                      312
2 (I worked at another similar position elsewhere before this one)     519
1 (this is the only company where I've had this kind of position)      612
Not Asked                                                             3889
Name: HowManyCompanies, dtype: int64

Il n'y a pas de valeurs incohérentes ou aberrantes dans cette colonne, je n'y touche donc pas.

### Traitement de OtherPeopleOnYourTeam

Regardons les valeurs présentes dans OtherPeopleOnYourTeam:

In [123]:
print(dfb.groupby('OtherPeopleOnYourTeam').OtherPeopleOnYourTeam.count().sort_values())

OtherPeopleOnYourTeam
5               208
4               318
3               492
More than 5     551
2               643
1              1153
None           2274
Name: OtherPeopleOnYourTeam, dtype: int64

Il n'y a pas de valeurs incohérentes ou aberrantes dans cette colonne, je n'y touche donc pas.

### Traitement de HoursWorkedPerWeek

Regardons les valeurs présentes dans HoursWorkedPerWeek:

In [124]:
print(dfb.groupby('HoursWorkedPerWeek').HoursWorkedPerWeek.count())

HoursWorkedPerWeek
6               1
8               1
12              1
15              1
20              3
22              1
24              2
25              2
28              1
30             19
32              4
35             72
36             17
37             22
38             44
39              2
40           1899
41             26
42            187
43             39
44             48
45            994
46             22
47             14
48             49
49              1
50            706
52              5
53              4
55            131
57              1
58              2
59              1
60            109
64              1
65             23
68              2
70             12
75              4
80              6
82              1
85              2
90              4
100             1
150             1
Not Asked    1151
Name: HoursWorkedPerWeek, dtype: int64

On constate qu'une personne a estimé qu'elle travaille 150h par semaine (qui contient 168h). Cette valeur me paraissant incohérente, je choisis de la modifier en "Not Asked". Les autres valeurs me paraissent cohérentes et plausibles.

In [125]:
dfb.loc[dfb.HoursWorkedPerWeek == 150, "HoursWorkedPerWeek"] = "Not Asked"

### Traitement de LookingForAnotherJob

Regardons les valeurs présentes dans LookingForAnotherJob:

In [126]:
print(dfb.groupby('LookingForAnotherJob').LookingForAnotherJob.count())

LookingForAnotherJob
No                                          2340
Not Asked                                   1151
Yes, actively looking for something else     306
Yes, but only passively (just curious)      1842
Name: LookingForAnotherJob, dtype: int64

Il n'y a pas de données incohérentes ou aberrantes dans cette colonne, je n'y touche donc pas.

### Traitement de Gender

Regardons les valeurs présentes dans Gender:

In [127]:
print(dfb.groupby('Gender').Gender.count().sort_values())

Gender
Alien                                                      1
human  This is also my race.                               1
confused                                                   1
Vulcan                                                     1
This question is inappropriate.                            1
Meat Popsicle                                              1
mosquito                                                   1
I am Batman                                                1
toad frog                                                  1
Dragon                                                     1
Cyborg                                                     1
Attack helicopter                                          1
Attack Helicopter. (serious dude, gender questions?)       1
Attack Helicopter                                          1
Any human one                                              1
Non-binary/third gender                                    9
Prefer not to say                                         37
Female                                                   443
Not Asked                                               1875
Male                                                    3260
Name: Gender, dtype: int64

On constate qu'il y a une multitude de réponses. On veut cependant comparer les différences de salaires entre homme et femme par la suite. Je choisis donc d'associer la valeur Not Asked à toutes les réponses n'était ni male ni female.

In [128]:
cond = dfb.groupby('Gender').Gender.count() < 40
dfb.loc[dfb.Gender.isin(cond.loc[cond].index), "Gender"] = "Not Asked"

### Traitement de Job Title

Passons à l'autre table de données qui sera traitée ultérieurement car elle est moins pertinente que la première table de données. Regardons les valeurs présentes dans Job Title:

In [129]:
print(dfk.groupby('Job Title')["Job Title"].count().sort_values())

Job Title
#104252 Division Data and Financial Analyst                                                                                 1
Music Copyright Data Analyst                                                                                                1
Mid-Senior Data Analyst                                                                                                     1
Mid-Level Data Analyst                                                                                                      1
Mid Level Data Analyst / BI Engineer - Looker, Python, Client Facing                                                        1
Mid Data Analyst                                                                                                            1
Metrics & Data Analyst                                                                                                      1
Mutual Fund Data Analyst (JR1013810) - Contract                                                                             1
Medical Data Analyst                                                                                                        1
Master Data Operation Analyst                                                                                               1
Master Data Analyst – SAP MDG Platform                                                                                      1
Marketing/Communications - Data Analyst-Marketing                                                                           1
Marketing Data Analyst, Teleflora                                                                                           1
Marketing Data Analyst Coordinator                                                                                          1
Marketing Data Analyst - Remote                                                                                             1
Media Science Big Data Analyst                                                                                              1
Marketing Data Analyst - CPG                                                                                                1
NA Data Reporting Analyst                                                                                                   1
NIWC Service Desk Analyst Component Enterprise Data Center (CEDC).                                                          1
Payment Integrity Data Analyst Job posting in #Philadelphia #ITjobs                                                         1
Payment Integrity Data Analyst                                                                                              1
Patient Recruitment Data Analyst (ArcGIS)                                                                                   1
Partner Training Data Analyst                                                                                               1
PBM Data Analyst                                                                                                            1
Operations/Quality Data Analyst                                                                                             1
NIWC Service Desk Analyst Component Enterprise Data Center (CEDC with Security Clearance                                    1
Operations data analyst                                                                                                     1
Omnichannel Marketing Data Analyst                                                                                          1
Office of the CAO | Reference Data, Project Manager/Business Analyst                                                        1
Neuroimaging Data Analyst Junior                                                                                            1
Network Security System/Data Analyst                                                                                        1
Network Data Analyst                                                                                                        1
Navy Maintenance Data Systems Analyst                                                                                       1
Operations Research Analyst (Data Scientist)                                                                                1
Marketing Coordinator / Data Analyst                                                                                        1
Marketing & Data Analyst                                                                                                    1
Market Research Data Analyst - Physician Technology                                                                         1
Lead Quality Data Analyst                                                                                                   1
Lead HR & Data Governance Analyst                                                                                           1
Lead Generation Data Analyst                                                                                                1
Lead Data Insights Analyst                                                                                                  1
Lead Data Engineer (Capital Markets Business Analyst 2)                                                                     1
Lead Data Analyst (Enterprise Product Master Data Steward)                                                                  1
Leading Data-Driven Change -- Data Industry Analyst                                                                         1
Lead Analyst, Data Transfer, Integration & Quality, Wilmington, DE                                                          1
Language Data Analyst                                                                                                       1
LIMS Master Data Analyst                                                                                                    1
LAWSON LANDMARK DATA EXTRACT ANALYST                                                                                        1
Junior Data Warehouse Analyst                                                                                               1
Junior Data Analytics Solutions Analyst                                                                                     1
Junior Data Analyst-Phoenix, AZ                                                                                             1
Lead Analyst, Data Mgmt / Quant Analysis                                                                                    1
Live Operations Data Analyst                                                                                                1
Loan Data Analyst                                                                                                           1
Local Data Analyst - Clinical                                                                                               1
Market Data Services Analyst                                                                                                1
Market Data Reporting Analyst                                                                                               1
Market Data Analyst - Global Securities Master (GSM)                                                                        1
Maps Evaluation Data Analyst                                                                                                1
Manufacturing Data Analyst - Woodridge, IL                                                                                  1
Manufacturing Data Analyst                                                                                                  1
Manager : Marketing Ops and Data Analyst                                                                                    1
Managed Care Data Analyst                                                                                                   1
MSC Logistics Data Analyst                                                                                                  1
MEDIA DATA ANALYST                                                                                                          1
MDM/Master Data Analyst ( Tibco EBX )                                                                                       1
MDM Data Analyst                                                                                                            1
MDG Functional Data Analyst-Greenwood Village, CO                                                                           1
Look ML Data Analyst                                                                                                        1
Logistics Data Analyst II                                                                                                   1
People Operations & Data Analyst                                                                                            1
Junior Data Analyst Python                                                                                                  1
Performance Data Analyst                                                                                                    1
Pharmaceutical Customer Data Analyst                                                                                        1
Regulatory Risk Management Data Analytics and Reporting Analyst                                                             1
Regulatory Data Analyst                                                                                                     1
Reference Data Operations Analyst - Index Instrument, Associate                                                             1
Reconciliation Data Operations Analyst                                                                                      1
Radar Telemetry Data Analyst - RT                                                                                           1
RQS - IHHA - 201900004460 -1s Data Security Analyst                                                                         1
Remote: Data Analyst (Data Lineage, Financial industry)_Long term                                                           1
RQS - IHHA - 201900004460 -1q Data Security Analyst                                                                         1
REMOTE Data Analyst - POWER BI+MONGO+ DAX EXPERIENCE                                                                        1
RAPD Risk Platforms & Data - Analyst                                                                                        1
R & Python / Sr. Information Data Analyst                                                                                   1
Quantitative Data Analyst/Developer                                                                                         1
Quantitative Data Analyst                                                                                                   1
QM DATA ANALYST II, WHITTIER, FULL TIME DAYS                                                                                1
RM - Data Maintenance Analyst                                                                                               1
QA Production Data Analyst                                                                                                  1
Reporting & Data Analyst                                                                                                    1
Reporting /Data Analyst                                                                                                     1
SAP Data Analyst (Contract)                                                                                                 1
SAP DATA ANALYST                                                                                                            1
Role: Data Warehouse Analyst - Direct Client.                                                                               1
Risk/Regulatory Reporting Project Data Analyst                                                                              1
Risk Data Analyst                                                                                                           1
Risk Adjustment Data Analyst                                                                                                1
Reporting / Data Analyst                                                                                                    1
Retail Data Quality Analyst                                                                                                 1
Research Scientist, Structural Biologist - CryoEM Data Analyst                                                              1
Research Analyst (Data Science)                                                                                             1
Research & Data Analyst Lead                                                                                                1
Research & Data Analyst                                                                                                     1
Reporting Data Analyst (contract to hire)                                                                                   1
Reporting Analyst Data Analyst                                                                                              1
Research Sr. Data Analyst - Kaiser Permanente Bernard J. Tyson School of Medicine                                           1
QA Data Analyst                                                                                                             1
QA Automation Analyst with Big data technology                                                                              1
QA Analyst with MongoDB / Big Data                                                                                          1
Principal Data Management Analyst                                                                                           1
Principal Data Analyst, LATAM – Disney Streaming Services                                                                   1
Principal Data Analyst, LATAM Disney Streaming Services                                                                     1
Principal Data Analyst, LATAM - Disney Streaming Services                                                                   1
Principal Data Analyst                                                                                                      1
Principal Business Analyst - Data Governance                                                                                1
Principal Sales Operations Analyst - Oracle Data Cloud                                                                      1
Practice Analyst Data                                                                                                       1
Position for Lead Data Analyst (Teradata, Oracle, Hadoop)                                                                   1
Portfolio Data Analyst                                                                                                      1
Planning Analyst - Data Resource Center                                                                                     1
Philanthropy Operations Associate - Data Analyst                                                                            1
Pharmaceutical Data Analyst – Analytics                                                                                     1
Pharmaceutical Data Analyst                                                                                                 1
Power BI Data Analyst                                                                                                       1
Product & Pricing Data Analyst                                                                                              1
Product Analyst - Data                                                                                                      1
Product Analyst, Data Science                                                                                               1
QA Analyst Big Data/ETL - Charlotte, NC (W2 ONLY)                                                                           1
QA Analyst - DATA Base Exp                                                                                                  1
Public Policy Data Analyst                                                                                                  1
Public Health Data Visualization Analyst                                                                                    1
Project Regulatory/Risk Data Analyst                                                                                        1
Programmer Data Analyst                                                                                                     1
Program Manager / Business Data Analyst                                                                                     1
Program Data Analyst                                                                                                        1
Program Analyst - AIS/Maintenance Data System Coordinator                                                                   1
Product/Data Analyst                                                                                                        1
Product and Data Analyst                                                                                                    1
Product Marketing & Business/Data Analyst                                                                                   1
Product Data Business Analyst                                                                                               1
Product Data & Insights Analyst                                                                                             1
Product Compliance Data Analyst                                                                                             1
Performance Improvement Data Analyst                                                                                        1
SAP Data Management Analyst                                                                                                 1
Junior Data Analyst - SQL Programmer                                                                                        1
Jr. Data Warehouse Systems Analyst                                                                                          1
ERP Data Analyst                                                                                                            1
EDI Data Analyst                                                                                                            1
Documentation/Data Analyst                                                                                                  1
DnA Ambassador (Clinical Business Analyst - Level 1), Data & Analytics/Re-post                                              1
Discovery Data Analyst                                                                                                      1
Direct Client Requirement - Data Reporting Analyst                                                                          1
ERP Data Migration Analyst in Glenview, IL at Signode                                                                       1
Digital S/W Eng Lead Analyst (Big data with SAS and PySpark background)                                                     1
Digital Marketing Data Analyst                                                                                              1
Digital Marketing & ECommerce Data Analyst                                                                                  1
Descriptive Analytics Data Analyst, IB                                                                                      1

On constate qu'il y a beaucoup de dénomination très précises. Tous les JobTitle font référence à un travail de DataAnalyst, on peut choisir de considérer que cette colonne n'est pas pertinente. Par exemple, si on veut faire une moyenne de salaires par rapport au Job Title, on peut le faire sur toute la table, ce qui donnera la moyenne pour les Data Analyst.

### Traitement de Salary Estimate

Regardons les valeurs présentes dans Salary Estimate:

In [130]:
print(dfk.groupby('Salary Estimate')["Salary Estimate"].count().sort_values())

Salary Estimate
-1                               1
$57K-$70K (Glassdoor est.)       2
$43K-$77K (Glassdoor est.)       3
$36K-$67K (Glassdoor est.)       3
$47K-$81K (Glassdoor est.)       3
$42K-$63K (Glassdoor est.)       4
$31K-$59K (Glassdoor est.)       4
$32K-$56K (Glassdoor est.)       4
$30K-$54K (Glassdoor est.)       8
$40K-$74K (Glassdoor est.)       9
$45K-$88K (Glassdoor est.)      11
$45K-$78K (Glassdoor est.)      11
$44K-$78K (Glassdoor est.)      12
$73K-$127K (Glassdoor est.)     14
$78K-$104K (Glassdoor est.)     15
$68K-$87K (Glassdoor est.)      16
$49K-$112K (Glassdoor est.)     18
$73K-$89K (Glassdoor est.)      18
$84K-$90K (Glassdoor est.)      18
$50K-$93K (Glassdoor est.)      19
$40K-$72K (Glassdoor est.)      19
$63K-$116K (Glassdoor est.)     20
$48K-$96K (Glassdoor est.)      22
$93K-$159K (Glassdoor est.)     25
$53K-$99K (Glassdoor est.)      26
$47K-$74K (Glassdoor est.)      26
$57K-$67K (Glassdoor est.)      26
$53K-$104K (Glassdoor est.)     26
$55K-$101K (Glassdoor est.)     27
$48K-$88K (Glassdoor est.)      27
$57K-$104K (Glassdoor est.)     27
$42K-$74K (Glassdoor est.)      27
$57K-$100K (Glassdoor est.)     27
$76K-$122K (Glassdoor est.)     28
$65K-$120K (Glassdoor est.)     28
$99K-$178K (Glassdoor est.)     28
$89K-$151K (Glassdoor est.)     28
$35K-$45K (Glassdoor est.)      28
$47K-$76K (Glassdoor est.)      28
$54K-$75K (Glassdoor est.)      28
$46K-$102K (Glassdoor est.)     28
$28K-$52K (Glassdoor est.)      28
$49K-$91K (Glassdoor est.)      28
$44K-$82K (Glassdoor est.)      28
$74K-$123K (Glassdoor est.)     28
$82K-$116K (Glassdoor est.)     28
$34K-$61K (Glassdoor est.)      28
$57K-$103K (Glassdoor est.)     29
$65K-$81K (Glassdoor est.)      29
$67K-$92K (Glassdoor est.)      29
$73K-$82K (Glassdoor est.)      29
$26K-$47K (Glassdoor est.)      29
$77K-$132K (Glassdoor est.)     29
$24K-$48K (Glassdoor est.)      29
$113K-$132K (Glassdoor est.)    29
$29K-$38K (Glassdoor est.)      29
$55K-$103K (Glassdoor est.)     29
$110K-$190K (Glassdoor est.)    29
$53K-$94K (Glassdoor est.)      29
$43K-$94K (Glassdoor est.)      29
$37K-$44K (Glassdoor est.)      29
$38K-$68K (Glassdoor est.)      29
$37K-$70K (Glassdoor est.)      29
$41K-$86K (Glassdoor est.)      29
$51K-$93K (Glassdoor est.)      29
$59K-$85K (Glassdoor est.)      30
$42K-$66K (Glassdoor est.)      30
$97K-$129K (Glassdoor est.)     30
$43K-$69K (Glassdoor est.)      30
$37K-$68K (Glassdoor est.)      30
$37K-$66K (Glassdoor est.)      30
$51K-$88K (Glassdoor est.)      30
$27K-$52K (Glassdoor est.)      30
$69K-$127K (Glassdoor est.)     30
$46K-$86K (Glassdoor est.)      30
$30K-$53K (Glassdoor est.)      30
$35K-$42K (Glassdoor est.)      30
$64K-$113K (Glassdoor est.)     30
$98K-$114K (Glassdoor est.)     30
$60K-$66K (Glassdoor est.)      30
$60K-$110K (Glassdoor est.)     30
$51K-$87K (Glassdoor est.)      30
$46K-$87K (Glassdoor est.)      30
$58K-$93K (Glassdoor est.)      31
$43K-$76K (Glassdoor est.)      31
$60K-$124K (Glassdoor est.)     31
$35K-$67K (Glassdoor est.)      33
$50K-$86K (Glassdoor est.)      41
$42K-$76K (Glassdoor est.)      57
$41K-$78K (Glassdoor est.)      57
Name: Salary Estimate, dtype: int64

On observe une valeur aberrante d'un salaire estimé à -1. Il faut le supprimer. On constate aussi que les salaires sont données par des fourchettes. Avant de les utiliser, il faudra extraire le salaire minimum et maximum de ces fourchettes pour pouvoir les exploiter.

### Traitement de Location

Regardons les valeurs présentes dans Location:

In [131]:
print(dfk.groupby('Location')["Location"].count().sort_values())

Location
Addison, TX                          1
Jeffersonville, IN                   1
Lawrence, IN                         1
Little Ferry, NJ                     1
Littleton, CO                        1
Lone Tree, CO                        1
Marin City, CA                       1
Itasca, IL                           1
Maywood, IL                          1
Monterey Park, CA                    1
Montvale, NJ                         1
Moorestown, NJ                       1
Mount Vernon, NY                     1
National City, CA                    1
Newtown Square, PA                   1
Millbrae, CA                         1
Newtown, PA                          1
Iselin, NJ                           1
Indian Trail, NC                     1
Exton, PA                            1
Far Rockaway, NY                     1
Farmers Branch, TX                   1
Fort Eustis, VA                      1
Fort Lee, NJ                         1
Fort Sam Houston, TX                 1
Inglewood, CA                        1
Fort Washington, PA                  1
Great Neck, NY                       1
Hanford, CA                          1
Harrison, NY                         1
Henderson, CO                        1
Hercules, CA                         1
Hermosa Beach, CA                    1
Glenview, IL                         1
Evanston, IL                         1
Norristown, PA                       1
Northlake, IL                        1
Staten Island, NY                    1
Suffolk, VA                          1
Tarrant, TX                          1
Torrance, CA                         1
Valley Stream, NY                    1
Virginia Beach, VA                   1
Spring, TX                           1
Visalia, CA                          1
West Jordan, UT                      1
West Lake Hills, TX                  1
Whitestown, IN                       1
Whittier, CA                         1
Woodbridge, NJ                       1
Woodcliff Lake, NJ                   1
West Conshohocken, PA                1
Northfield, IL                       1
Southlake, TX                        1
Signal Hill, CA                      1
Novato, CA                           1
Panorama City, CA                    1
Paoli, PA                            1
Pico Rivera, CA                      1
Queens Village, NY                   1
Radnor, PA                           1
Smithfield, VA                       1
Reedley, CA                          1
Riverton, UT                         1
Roanoke, TX                          1
San Bruno, CA                        1
San Fernando, CA                     1
Sandy, UT                            1
Secaucus, NJ                         1
Ridley Park, PA                      1
Essex Fells, NJ                      1
Yorktown, VA                         1
Emeryville, CA                       1
Berkeley Heights, NJ                 1
Conshohocken, PA                     1
Bensalem, PA                         1
Coppell, TX                          1
Beech Grove, IN                      1
Blue Bell, PA                        1
Chester Township, PA                 1
Azusa, CA                            1
Boothwyn, PA                         1
Daly City, CA                        1
Bridgeview, IL                       1
Des Plaines, IL                      1
American Fork, UT                    1
Arlington Heights, IL                1
Elk Grove Village, IL                1
Cedar Park, TX                       1
Alachua, FL                          1
El Cajon, CA                         1
Carrollton, TX                       1
Duarte, CA                           1
East Palo Alto, CA                   1
Campbell, CA                         1
Burr Ridge, IL                       1
Burlingame, KS                       1
Alameda, CA                          1
Carson, CA                           1
Oak Brook, IL                        2
Lewisville, TX                       2
Beverly Hills, CA                    2
San Rafael, CA                       2
Newark, CA                           2
Woodridge, IL                        2
Rolling Meadows, IL                  2
Brea, CA                             2
Renton, WA                           2
Manhasset, NY                        2
Marina del Rey, CA                   2
Lackland AFB, TX                     2
Marlton, NJ                          2
Broadview, IL                        2
Bronx, NY                            2
Mesa, AZ                             2
Northridge, CA                       2
Plymouth Meeting, PA                 2
Pasadena, TX                         2
Parsippany, NJ                       2
Long Island City, NY                 2
Kirkland, WA                         2
South Plainfield, NJ                 2
Berkeley, CA                         2
Fairfield, NJ                        2
Feasterville Trevose, PA             2
Dublin, OH                           2
Alhambra, CA                         2
Draper, UT                           2
Allegheny West, PA                   2
Whippany, NJ                         2
Franklin Lakes, NJ                   2
Westlake, TX                         2
Westerville, OH                      2
Gardena, CA                          2
West Orange, NJ                      2
West Chester, PA                     2
Walnut Creek, CA                     2
Berwyn, PA                           2
Venice, CA                           2
DC Ranch, AZ                         2
Carmel, IN                           2
Bellevue, WA                         2
Irwindale, CA                        2
Stafford, TX                         2
Haworth, NJ                          2
Summit, NJ                           2
Newport News, VA                     2
Hilliard, OH                         2
Topeka, KS                           2
Hoboken, NJ                          2
Sugar Land, TX                       3
Boulder, CO                          3
Round Rock, TX                       3
Stanford, CA                         3
Weehawken, NJ                        3
Arcadia, CA                          3
San Ramon, CA                        3
Union City, CA                       3
Northbrook, IL                       3
Doylestown, PA                       3
Los Gatos, CA                        3
Louisville, CO                       3
Chesapeake, VA                       3
Issaquah, WA                         3
Deerfield, IL                        3
Grapevine, TX                        3
City of Industry, CA                 3
Fort Mill, SC                        3
Mount Laurel, NJ                     3
Pleasanton, CA                       4
West Point, PA                       4
Camden, NJ                           4
Allen, TX                            4
Kent, WA                             4
Cerritos, CA                         4
Culver City, CA                      4
Huntersville, NC                     4
Athens, GA                           4
Burlingame, CA                       4
Florham Park, NJ                     5
Aurora, CO                           5
Lehi, UT                             5
Fremont, CA                          5
Lakewood, CO                         5
Pearland, TX                         5
Milpitas, CA                         5
Glendale, AZ                         5
South San Francisco, CA              6
Anaheim, CA                          6
Malvern, PA                          6
Broomfield, CO                       6
Woodland Hills, CA                   6
Wayne, PA                            6
Gainesville, FL                      7
King of Prussia, PA                  7
Pasadena, CA                         7
Chandler, AZ                         7
Englewood, CO                        7
Mooresville, NC                      7
Portsmouth, VA                       7
Horsham, PA                          8
Arlington, TX                        8
Glendale, CA                         8
Newark, NJ                           8
Greenwood Village, Arapahoe, CO      8
Lake Success, NY                     9
Foster City, CA                      9
Santa Monica, CA                     9
Centennial, CO                       9
Downers Grove, IL                    9
Richardson, TX                      10
Oakland, CA                         11
Menlo Park, CA                      11
Wilmington, DE                      11
Redmond, WA                         11
Redwood City, CA                    12
Cupertino, CA                       13
Hampton, VA                         13
Brooklyn, NY                        13
Long Beach, CA                      13
Palo Alto, CA                       14
Mountain View, CA                   15
Scottsdale, AZ                      15
Sunnyvale, CA                       16
Fort Worth, TX                      16
Indianapolis, IN                    17
Burbank, CA                         17
San Mateo, CA                       18
Norfolk, VA                         18
El Segundo, CA                      19
Jacksonville, FL                    19
Salt Lake City, UT                  22
Santa Clara, CA                     22
Plano, TX                           28
Columbus, OH                        29
Irving, TX                          29
Seattle, WA                         30
Tempe, AZ                           31
Jersey City, NJ                     33
Phoenix, AZ                         35
San Jose, CA                        38
San Antonio, TX                     45
Denver, CO                          47
Philadelphia, PA                    56
San Diego, CA                       62
Dallas, TX                          66
Houston, TX                         72
Charlotte, NC                       78
Los Angeles, CA                     80
Austin, TX                          81
San Francisco, CA                  119
Chicago, IL                        130
New York, NY                       310
Name: Location, dtype: int64

Toutes les données sont normalisées, il n'y a pas de données aberrantes ou incohérentes. Je ne les modifie donc pas.

## 5. Sauvegarde des données

Nous allons maintenant sauvegarder nos données après traitement. Comme les données sont de tailles limitées, j'ai choisis de les enregistrer en format csv.

In [132]:
dfk.to_csv("/home/apprenant/PycharmProjects/american-dream/data/02-intermediate/intermediatek.csv")
dfb.to_csv("/home/apprenant/PycharmProjects/american-dream/data/02-intermediate/intermediateb.csv")